*{
    margin: 0px;
}
html{
    background-color: var(--color_bg);
}
a{
    text-decoration: none;
    color: var(--font-color);
}

.section_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    border-bottom: solid 5px #37483f;
    background-image: url(../img/DecorationDashboard.svg);
    background-position: 50% 48%;
    background-size: cover;
    background-repeat: space;
    justify-content: space-between;
    align-items: center;
}
.section_header *{
    color: var(--font-color);
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
}
.section_header img{
    width: 52px;
}
.container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    /*gap: 16px;*/
    max-width: 92%;
}

.widgets{
    border-radius: 5px;
    background-color: #333;
    padding: 2%;
    transition: transform 0.3s ease;
}
.learning_hub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #69836b;
    background-image: url(../img/BackgroudCourse.jpg);
    background-size: cover;
    background-repeat: space;
}
.learning_hub .learning_hub_text{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
}
.learning_hub .learning_hub_text .learning_hub_text_box h2{
    margin-bottom: 12px;
    font-size: 180%;
    font-weight: 500;
}
.learning_hub .learning_hub_text .learning_hub_text_box p{
    font-size: 90%;
    font-weight: 300;
    margin-bottom: 20%;
}
.learning_hub .learning_hub_img{
    width: 30%;
    display: none;
}
.learning_hub .learning_hub_img img{
    width: 100%;
    height: 100%;
}

.learning_hub_tutor {
    width: 40px;
    height: 40px;
    border: solid white 2px;
    border-radius: 100%;
}
.learning_hub_tutor img{
    display: block;
    width: 40px;
    height: 40px;
}

.learning_hub{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.learning_hub_text {
  position: relative;
  top: -1px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
    );
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.4s;
    background-color: #3136529e;
    border-radius: 100%;
    width: 0;
    height: 50em;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.learning_hub:hover .transition {
    width: 212%;
}

.widgets:hover{
    transform: scale(1.03);
}
.widgets:active {
    transform: scale(0.97);
}

.container_course{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.programacion{
    background: linear-gradient(to bottom, #2A334A, #192235);
}
.matematicas{
    background: linear-gradient(to bottom, #2E4A78, #1F3A60);
}
.negocio{
    background: linear-gradient(to bottom, #2E6F73, #225659);
}
.datos{
    background: linear-gradient(to bottom, #D8A441, #BF8F36)
}

.container .module_title{
    margin-top: 2%;
    color: var(--font_color_secondary);
    border-bottom: solid 3px #555555;
    font-weight: 600;
    font-size: 100%;
}

.course{
    background-color: #1f355a;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-height: 160px;
    transition: transform 0.3s ease;
}

.curso_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.curso_header_title{
    color: var(--font-color);
}
.curso_header_title h3{
    font-weight: 500;
}
.curso_header_title h4{
    font-weight: 400;
    font-size: 75%;
}


.curso_header_icon{
    width: 32px;
}

.curso_header_icon img{
    background-color: #6e6e6e;
    border-radius: 8px;
    width: 90%;
    padding: 4px;
}
.curso_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.curso_tutor {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.curso_tutor h4{
    font-weight: 400;
    font-size: 80%;
    margin-left: 5px;
}
.tutor_icon {
    width: 30px;
    height: 30px;
}
.tutor_icon img{
    width: 100%;
}

.curso_rendimiento h4{
    font-weight: 400;
    font-size: 120%;
    margin-left: 10px;
}

.container_extra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.container_extra .extra{
    flex: 1;
}
.extra{
    background-color: white;
}

.extra h3{
    font-weight: 600;
}
.progress{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.circle{
    background-color: #333;
    border-radius: 100%;
    padding: 10px;
}

.procress_box_text_description{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.procress_box_text_description h5{
    font-weight: 500;
}

.procress_box_text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.completado{
    background-color: var(--color_color_tertiary);
}
.pendiente{
    background-color: #ddd;
}
.procress_circle{
    width: 40%;
    border-radius: 50%;
    background: conic-gradient(var(--color_color_tertiary) 5%, #ddd 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    aspect-ratio: 1 / 1;
}
.procress_box_cicle{
    justify-items: center;
}
.procress_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.procress_percentage{
    background-color: white;
    padding: 18%;
    align-content: center;
    text-align: center;
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    color: var(--color_color_tertiary);
}

.activity_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.notification {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 15px;
    gap: 10px;
    align-items: center;
    padding: 5px 10px 5px 6px;
    background-color: var(--color_bg);
}
.notification_text {
    color: var(--font_color_primary)
}
.notification_text h4{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    text-align: left;
}
.notification_text h5{
    margin: 0px;
    font-size: 12px;
    height: 24px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    height: 100%;
}
.notification_icon {
    background-color: #253952;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    width: 20px;
    height: 20px;
}
.notification_icon img{
    width: 20px;
    height: 20px;
    display: block;
}
.Important{
    background-color: #cc3838;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 20px;
}