h1{
    margin: 0px;
    margin: 10px 0px;
}
h3,h4,h5{
    margin: 0px;
}
a{
    margin: 0px;
    padding: 0px;
}

.containerHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    border-bottom: solid 5px #37483f;
    background-image: url(../img/DecorationDashboard.svg);
    background-position: 50% 48%;
    background-size: cover;
    background-repeat: space;
    justify-content: flex-end;
    align-items: center;
}
.containerHeader img{
        width: 52px;
}
.container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 92%;
}
.widgets{
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.wellcomeHome{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.wellcomeHome p b{
    color: var(--color_color_tertiary);
}
.wellcomeText{
    margin-left:20px;
    color: var(--font_color_primary);
    font-family: 'Poppins', sans-serif;
}
.wellcomeText h1{
    font-size: 25px;
    font-weight: 600;
}
.wellcomeText p{
    font-size: 14px;
    margin: 0px 10px 10px 0px;
    font-weight: 500;
    width: 100%;
    height: 100%;
}
.wellcomeHome img{
    width: 16%;
}
.containerHome{
  display: grid;
  grid-template-columns: minmax(400px, 1.25fr) minmax(200px, 0.5fr);
  grid-template-rows: 1fr;
  gap: 16px;
  justify-content: start;
  font-family: 'Poppins', sans-serif;
}

/* -------------> CONTAINER LEFT ( Anuncios,Notificaciones,Cursos )  <------------- */

.containerLeft{
    margin: 0px;
}

.widgets-left{
    padding: 5px 8px 8px 8px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    color: var(--font_color_primary);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.widgets-left h1 {
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
}

.Anuncios{
    text-align: -webkit-center;
}
.Anuncios img {
    width: 100%;
    height: 100%;
}
.Anuncios h1{
    height: 44px;
    align-content: center;
    text-align: left;
}
.slider-relative{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 98%;
    transition: transform 0.3s ease;
}
.slider{
    display: flex;
    animation: slide 50s infinite;
}
.slider a{
    flex: 1 0 100%;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}
.slider-relative:hover{
    transform: scale(1.03);
}
.slider-relative:hover .slider{
    animation-play-state: paused;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  15%   { transform: translateX(0); }

  18%  { transform: translateX(-100%); }
  25%  { transform: translateX(-100%); }

  28%  { transform: translateX(-200%); }
  50%  { transform: translateX(-200%); }

  53%  { transform: translateX(-100%); }
  75%  { transform: translateX(-100%); }

  78% { transform: translateX(0); }  
  100% { transform: translateX(0); }
}


.Notificacion{
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #e3e8f0;
    border-radius: 20px;
    align-items: center;
}
.NotificacionesBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Notificaciones h1{
    height: 44px;
    align-content: center;
    text-align: left;
}
.NotificationText {
    color: var(--font_color_secondary)
}
.NotificationText h4{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    text-align: left;
}
.NotificationText h5{
    margin: 0px;
    font-size: 14px;
    height: 24px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    height: 100%;
}
.NotificationIcon {
    background-color: #253952;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    width: 20px;
    height: 20px;
}
.NotificationIcon img{
    width: 20px;
    height: 20px;
    display: block;
}
.Important{
    background-color: #cc3838;
}

.Cursos h1{
    height: 44px;
    align-content: center;
    text-align: left;
}
.CursosBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.Curso{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 26%;
    height: 10em;
    border-radius: 5px;
    background-color: #333;
    color: white;
    justify-content: space-between;
    transition: transform 0.3s ease;
}
.CursoHeader h4{
    font-size: 15px;
    align-content: center;
    margin: 0px;
}
.CursoHeader h5{
    font-size: 12px;
    align-content: center;
    font-weight: 400;
    margin: 0px;
}
.CursoFooter{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.CursoFooter h4{
    font-size: 12px;
    align-content: center;
    font-weight: 400;
    margin: 0px;
}
.CursoTutor{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.Tutor{
    width: 30px;
    height: 30px;
    align-content: center;
    margin: 0px;
    border-radius: 100%;
    border: solid 3px #263851;
}
.Tutor img{
    width: 100%;

}
.CursoPorcentaje{
    align-content: center;
}
.CursoPorcentaje h3{
    margin: 0px;
}
.Programacion{
    background-color: #375f7f;
}
.Datos{
    background-color: #d6a447;
}
.Negocio{
    background-color: #27909e;
}
.Matematicas{
    background-color: #1f4c9d;
}

.Curso:hover{
    transform: scale(1.02) translateY(-2%);
    z-index: 2;
}


/* -------------> CONTAINER RIGHT ( Calendario,Clases,Progreso )  <------------- */

.containerRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
.widgets-right{
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 3px;
    color: var(--font_color_primary);
}
.widgets-right h3{
    margin-bottom: 10px;
}

.calendar {
    overflow: hidden;
    padding: 15px 20px;
    width: 100%;
    max-width: 100%;
    flex: none;
}
.calendar h1{
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font_color_primary);
    margin: 10px 0px;
    text-align: center;
}
#month-year{
    font-size: 15px;
    font-weight: 600;
    color: var(--font_color_secondary);
    margin: 0px;
}
.button-calendar{
    border: 0px;
    background-color: white;
    color: #555555;
}
.calendar-days > * {
  min-width: 0;
}
.containerRight, .calendar {
  box-sizing: border-box;
  overflow: hidden;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    text-align: center;
    font-size: clamp(9px, 1vw, 12px);
    box-sizing: border-box;
    gap: 1px;
}
.day {
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
}
.day:hover {
    background: #dfe4f2;
}
.today {
    background-color: var(--color_color_tertiary);
    color: white;
    border-radius: 5px;
}
.vc-base-icon {
    display: inline-block;
    fill: none;
    stroke: #37483f;
    stroke-width: 2;
}
.button-calendar:hover{
    background-color: #dee1e7;
    border-radius: 10px;
}

.clases{
    gap: 5px;
}
.clases h3{
    font: 26px;
    height: 30px;
    font-weight: 600;
    margin: 0px;
}
.clasesBox{
    display: flex;
    height: 80%;
    flex-direction: column;
    gap: 5px;
}
.clase {
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    transition: transform 0.3s ease;
}
.clase h4{
    font-size: 15px;
    margin: 0px;
}
.clase h5{
    font-size: 13px;
    margin: 0px;
    font-weight: 400;
}
.clase:hover{
    transform: scale(1.02) translateY(-2%);
    z-index: 2;
}

.rendimiento{
    justify-items: center;
    gap: 5px;
}
.rendimiento h3{
    font: 26px;
    height: 30px;
    font-weight: 600;
    justify-self: left;
}
.rendimientoBox{
    display: flex;
    width: 100%;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.circleRendimiento {
  width: 80%;
  border-radius: 50%;
  background: conic-gradient(var(--color_color_tertiary) 5%, #ddd 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  aspect-ratio: 1 / 1;
}
span{
    background-color: white;
    padding: 18%;
    align-content: center;
    text-align: center;
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    color: var(--color_color_tertiary);
}
.circle{
    padding: 10px;
    background-color: #333;
    border-radius: 100%;
}

.rendimientoTextBox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 75%;
}
.rendimientoText{
    display: flex;
    align-items: center;
    gap: 5px;
}
.rendimientoText h5{
    font-weight: 500;
}

.completado{
    background-color: var(--color_color_tertiary);
}
.pendiente{
    background-color: #ddd;
}

.helpHome{
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}
.helpHome h1{
    padding-left: 10px;
    font-weight: 600;
    font-size: 17px;
    height: 44px;
    color: var(--font_color_primary);
}
.helpBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.helpText{
    margin-left: 20px;
    text-align: left;
}
.helpText h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    align-items: center;
    color: var(--font_color_secondary);
}
.helpText p{
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 10px;
    align-items: center;
    color: #333;
}
.helpBox img{
    width: 20%;
    height: 20%;
}
.helpButtom{
    justify-self: center;
}
.btn-ayuda{
    font-family: 'Poppins', sans-serif;
    padding: 9px 15px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--color_buttons);
    color: white;
    border: 0px;
}


@media (max-width: 842px) {
    .containerHome{
        display: flex;
        flex-direction: column;
    }
    .rendimientoBox{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
    }
    .circleRendimiento{
        width: 50%;
    }


}
@media (max-width: 1116px) {
    .rendimientoTextBox{
        flex-direction: column;
    }
    .rendimientoBox{
        gap: 4em;
    }
}
