@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
svg{
    width: 18px;
    margin-right: 8px;
}
a{
    padding-left: 6%;
    text-decoration: none;
    display: block;
    color: white;
    display: flex;
    align-items: center;
}
.NavTop a{
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 14px;
    font-size: clamp(10px, 1.2vw, 14px);
}

.BarNav{
    display: flex;
    width: 12%;
    position: fixed;
    left: 0;
    height: 100%;
    background-color: #263851;
    color: white;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}
.general{
    margin-left: 12%;
}
.TitleNav{
    display: flex;
    flex-direction:row;
    align-items: center;
    align-self: center;
    border-bottom: solid 1px #f0f2ef;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 10px;
    padding-bottom: 14px;
    
}
.TitleNav img{
    width: 27%;
}
.TitleNav h1{
    font-weight: 600;
    font-size: clamp(15px, 2.7vw, 34px);
    margin-bottom: -5px;
}
.Navegador{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
ul{
    margin: 0px;
    padding: 0px;
}
.NavTop{
    margin-top: 5%;
}
.Lista:hover{
    background-color: #1f2e42;
    
}
.ListaFooter:hover{
    background-color: #1f2e42;
    
}

.Lista{
    font-weight: 400;
    font-size: 16px;
    list-style:none;
    transition: 0.3s;
}
.NavButtom{
    margin-bottom: 4px;
}
.ListaFooter{
    font-weight: 400;
    font-size: 10px;
    list-style:none;
    transition: 0.3s;
}
.ListaFooter a{
    font-size: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

